<div class="ol-header">
	<div class="ol-logo">
			<img src="<%= path %>/assets/ol-logo.svg">
	</div>
    <div class="ol-wrapper">
        <h1 class="ol-title">Medals and results: who's winning in PyeongChang?</h1>
        <p class="ol-standfirst">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis libero vel nisl sodales volutpat. Vestibulum ultrices ligula varius diam eleifend, ac euismod felis consectetur. Nunc ut dui nunc.</p>
    </div>
    <div class="ol-circle">
    	
    </div>
</div>