<div class="ol-header">
	<div class="ol-logo">
			<img src="<%= path %>/assets/ol-blue-logo.svg">
	</div>
    <div class="ol-wrapper">
        <h1 class="ol-title">Medals & Results:</h1><br/>
        <h1 class="ol-subtitle"><span class="subtitle-highlight"><span>Who's winning <br>in PyeongChang?</span></span></h1>
        <p class="ol-standfirst">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis libero vel nisl sodales volutpat. Vestibulum ultrices ligula varius diam eleifend, ac euismod felis consectetur. Nunc ut dui nunc.</p>
    </div>
    <div class="ol-circle">
    	<img src="<%= path %>/assets/shaun-white-cutout.png" alt="">
    </div>
</div>