<!-- <div class="dropdown inner">
    <select name="countries" id="countries-dropdown">
        {{#countryCodes}}
        <option value="{{1}}">{{0}}</option>
        {{/countryCodes}}
    </select>
</div> -->
<div class="breaker top-breaker"></div>
<div class="breaker"></div>
<div class="breaker"></div>
<div class="breaker"></div>
<div class="block" data-title="Leaderboard">
    <div class=leaderboard-top>
<!--     {{#topCountries}}
        <div class="country-block {{olympicCountry.abbreviation}}">
            <div class="country-header-wrapper">

                {{#noMedals}}
                <span class='pye-rank-dash'>–</span>
                {{/noMedals}}

                {{^noMedals}}
                <img class="number" src="<%= path %>/assets/numbers/{{rank}}.svg" />
                {{/noMedals}}


                <div class="country-header">
                    <div class="flag flag-ioc-{{lowerCaseAbbreviation}} flag-large"></div>
                    <div>{{preferableName}}</div>
                </div>
            </div>
            <div class="medals">

                <div class="top-medals">
                    {{#goldMedals}}
                        {{#list}}
                        <div class="medal-block medal-block--gold"></div>
                        {{/list}}
                        <span class="medals-total">{{total}}</span>
                    {{/goldMedals}}
                </div>
                <div class="top-medals">
                    {{#silverMedals}}
                    {{#list}}
                    <div class="medal-block medal-block--silver"></div>
                    {{/list}}
                    <span class="medals-total">{{total}}</span>
                    {{/silverMedals}}
                </div>
                <div class="top-medals">
                    {{#bronzeMedals}}
                    {{#list}}
                    <div class="medal-block medal-block--bronze"></div>
                    {{/list}}
                    <span class="medals-total">{{total}}</span>
                    {{/bronzeMedals}}
                </div>

            </div>
        </div>
    {{/topCountries}} -->
     <div class="other-country-block--full {{olympicCountry.abbreviation}}">
        {{#topCountries}}
            <div class="other-country-name">
                {{{rank}}} {{preferableName}} 
            </div>
            <div class="other-country-details">
                <span class="flag flag-ioc-{{lowerCaseAbbreviation}} flag-medium"></span>
                <span class="other-country-medals">
                    <span class="medal-block medal-block--gold medal-block--small"></span>
                    {{goldMedals.total}}
                    <span class="medal-block medal-block--silver medal-block--small"></span>
                    {{silverMedals.total}}
                    <span class="medal-block medal-block--bronze medal-block--small"></span>
                    {{bronzeMedals.total}}
                </span>
            </div>
        {{/topCountries}}
    </div>
    </div>
    <button class="expand-leaderboard">
        <img src="<%= path %>/assets/plus.svg" />
        Full Leaderboard
    </button>
    <div class="other-country-block hidden {{olympicCountry.abbreviation}}">
        {{#otherCountries}}
            <div class="other-country-name">
                {{{rank}}} {{preferableName}}
            </div>
            <div class="other-country-details">
                <span class="flag flag-ioc-{{lowerCaseAbbreviation}} flag-medium"></span>
                <span class="other-country-medals">
                    <span class="medal-block medal-block--gold medal-block--small"></span>
                    {{goldMedals.total}}
                    <span class="medal-block medal-block--silver medal-block--small"></span>
                    {{silverMedals.total}}
                    <span class="medal-block medal-block--bronze medal-block--small"></span>
                    {{bronzeMedals.total}}
                </span>
            </div>
        {{/otherCountries}}
    </div>
</div>

<div class="interactive-ad-banner block">
    <div class="ad-wrapper--desktop hide-until-tablet">
        <div id="dfp-ad--inline0"
             class="js-ad-slot ad-slot ad-slot--banner-ad ad-slot--banner-ad-desktop"
             data-link-name="ad slot banner"
             data-name="banner"
             data-tablet="1,1|2,2|728,90"
             data-desktop="1,1|2,2|88,70|728,90|940,230|900,250"></div>
    </div>

    <div class="ad-wrapper--mobile mobile-only">
        <div id="dfp-ad--inline0Mobile"
             class="js-ad-slot ad-slot ad-slot--inline ad-slot--inline0"
             data-link-name="ad slot inline0Mobile"
             data-name="inline0Mobile"
             data-mobile="1,1|2,2|300,250|fluid"></div>
    </div>
</div>

<div class="breaker"></div>
<div class="breaker"></div>
<div class="breaker"></div>
<div class="breaker"></div>
<div class="block medals-by-sport" data-title="Medals by sport">
    <div class="spacer"></div>
    {{#medalsByDiscipline}}
    <div class="row row--header row--header--closed row-with-border">
        <span class="discipline-header"><img src="<%= path %>/assets/sports/{{disciplineAbbreviation}}.svg" alt="" />{{disciplineAbbreviation}} {{key}}</span>
        <button class="item-button item-button--expand">
            <img src="<%= path %>/assets/plus-black.svg" />
            <div></div>
        </button>
    </div>
    <div class="sports-category sports-category--hide">
        <div class="medals-tab">
            {{#values}}
            <div class="row row-with-border">
                <!-- {{value.country}} -->
                <div class="column column--discipline">{{key}}</div>
                <div class="column column--gold">
                    {{#value.gold}}
                    <div class="column__athlete">
                        <span class="medal-block medal-block--gold medal-block--small no-margin"></span>
                        <div class="athlete-country">
                            <span class="flag flag-ioc-{{lowerCaseAbbreviation}} flag-small flag-discipline"></span>
                            <span class="winner-abbreviation">{{abbreviation}}</span>
                        </div>
                        <div class="athlete-name">
                            <span>{{firstName}}</span>
                            <span class="name-padding"></span>
                            <span>{{lastName}}</span>
                        </div>
                    </div>
                    {{/value.gold}}
                </div>
                <div class="column column--silver">
                    {{#value.silver}}
                    <div class="column__athlete">
                        <span class="medal-block medal-block--silver medal-block--small no-margin"></span>
                        <div class="athlete-country">
                            <span class="flag flag-ioc-{{lowerCaseAbbreviation}} flag-small flag-discipline"></span>
                            <span class="winner-abbreviation">{{abbreviation}}</span>
                        </div>
                        <div class="athlete-name">
                            <span>{{firstName}}</span>
                            <span class="name-padding"></span>
                            <span>{{lastName}}</span>
                        </div>
                    </div>
                    {{/value.silver}}
                </div>
                <div class="column column--bronze">
                    {{#value.bronze}}
                    <div class="column__athlete">
                        <span class="medal-block medal-block--bronze medal-block--small no-margin"></span>
                        <div class="athlete-country">
                            <span class="flag flag-ioc-{{lowerCaseAbbreviation}} flag-small flag-discipline"></span>
                            <span class="winner-abbreviation">{{abbreviation}}</span>
                        </div>
                        <div class="athlete-name">
                            <span>{{firstName}}</span>
                            <span class="name-padding"></span>
                            <span>{{lastName}}</span>
                        </div>
                    </div>
                    {{/value.bronze}}
                </div>
            </div>
            {{/values}}
        </div>
        <div class="sport-image">
            <img src="{{url}}" id="{{key}}" alt="" />
            <div class="caption-wrapper">
                <strong><span class="img-athlete">{{captionLineOne}}</span></strong><br/>
                <span class="img-athlete">{{captionLineTwo}}</span>
            </div>
        </div>
    </div>
    {{/medalsByDiscipline}}
    {{^medalsByDiscipline}}
        <div class="no-medals">No medals have been awarded yet</div>
    {{/medalsByDiscipline}}
</div>
<div class="breaker"></div>
<div class="breaker"></div>
<div class="breaker"></div>
<div class="breaker"></div>
<!-- <div class="block" data-title="Who's up? Who's down?">
    <div class="countries-performance">
        {{#countriesByPeformance}}
            <div class="performer">
                <div class="performance-header">
                    <img class="performance-arrow" src="<%= path %>/assets/{{arrow}}Arrow.png" alt="" />
                    <span>{{key}}</span>
                </div>
                <p>{{phrase}}</p>
            </div>
        {{/countriesByPeformance}}
    </div>
</div> -->
<div class="breaker"></div>
<div class="block schedule-block" data-title="More Olympics"></div>
<div class="more-olympics">
    <a href="https://www.theguardian.com/sport/ng-interactive/2018/feb/08/winter-olympics-2018-full-schedule" target="_blank">
        <img class="schedule-desktop" src="<%= path %>/assets/wo-event-link-desktop.svg" alt="">
        <img class="schedule-mobile" src="<%= path %>/assets/wo-event-link-mobile.svg" alt="">
    </a>
</div>