<!-- <div class="dropdown inner">
    <select name="countries" id="countries-dropdown">
        {{#countryCodes}}
        <option value="{{1}}">{{0}}</option>
        {{/countryCodes}}
    </select>
</div> -->
<div class="block" data-title="Leaderboard">
    {{#topCountries}}
    <div class="country-block {{olympicCountry.abbreviation}}">
        <img class="number" src="<%= path %>/assets/numbers/{{rank}}.svg" />
        <div class="country-header">
            {{preferableName}}
        </div>
        <div class="medals">
            <div class="top-medals">
                {{#goldMedals}}
                    {{#list}}
                    <div class="medal-block medal-block--gold"></div>
                    {{/list}}
                    <span class="medals-total">{{total}}</span>
                {{/goldMedals}}
            </div>
            <div class="top-medals">
                {{#silverMedals}}
                 {{#list}}
                <div class="medal-block medal-block--silver"></div>
                 {{/list}}
                <span class="medals-total">{{total}}</span>
                {{/silverMedals}}
            </div>
            <div class="top-medals">
                {{#bronzeMedals}}
                 {{#list}}
                <div class="medal-block medal-block--bronze"></div>
                {{/list}}
                <span class="medals-total">{{total}}</span>
                {{/bronzeMedals}}
            </div>
        </div>
    </div>
    {{/topCountries}}
    <button class="expand-leaderboard">
        <img src="<%= path %>/assets/plus.svg" />
        Full Leaderboard
    </button>
    <div class="other-country-block hidden {{olympicCountry.abbreviation}}">
        {{#otherCountries}}
            <div class="other-country-name">
                {{rank}} {{olympicCountry.name}}
            </div>
            <div class="other-country-details">
                <span class="flag flag-ioc-{{lowerCaseAbbreviation}} flag-2x"></span>
                <span class="other-country-medals">
                    <span class="medal-block medal-block--gold medal-block--small"></span>
                    {{goldMedals.total}}
                    <span class="medal-block medal-block--silver medal-block--small"></span>
                    {{silverMedals.total}}
                    <span class="medal-block medal-block--bronze medal-block--small"></span>
                    {{bronzeMedals.total}}
                </span>
            </div>
        {{/otherCountries}}
    </div>
</div>
<div class="block" data-title="Medals by sport">
    {{#medalsByDiscipline}}
    <div class="row row--header row--header--closed">
        <span class="discipline-header">{{key}}</span>
        <button class="item-button item-button--expand">
            <img src="<%= path %>/assets/plus-black.svg" />
            <div></div>
        </button>
    </div>
    <div class="sports-category sports-category--hide">
        <div>
            {{#values}}
            <div class="row">
                {{value.country}}
                <div class="column column--discipline">{{key}}</div>
                <div class="column column--gold">
                    {{#value.gold}}
                    <div class="column__athlete">
                        <span class="flag flag-ioc-{{lowerCaseAbbreviation}} flag-2x"></span>
                        <span class="medal-block medal-block--gold medal-block--small"></span>
                        <span class="athlete-name">{{firstName}} {{lastName}}</span>
                    </div>
                    {{/value.gold}}
                </div>
                <div class="column column--silver">
                    {{#value.silver}}
                    <div class="column__athlete">
                        <span class="flag flag-ioc-{{lowerCaseAbbreviation}} flag-2x"></span>
                        <span class="medal-block medal-block--silver medal-block--small"></span>
                        <span class="athlete-name">{{firstName}} {{lastName}}</span>
                    </div>
                    {{/value.silver}}
                </div>
                <div class="column column--bronze">
                    {{#value.bronze}}
                    <div class="column__athlete">
                        <span class="flag flag-ioc-{{lowerCaseAbbreviation}} flag-2x"></span>
                        <span class="medal-block medal-block--bronze medal-block--small"></span>
                        <span class="athlete-name">{{firstName}} {{lastName}}</span>
                    </div>
                    {{/value.bronze}}
                </div>
            </div>
            <!-- <li class="{{abbreviation}}">{{medalWon}} | {{displayName}} | {{discipline.name}} | {{olympicEvent.name}} | {{startDate.0.full}} </li> -->
            <!-- </div> -->
            {{/values}}
        </div>
        <div class="sport-image">
            <img src="" id="{{key}}" alt="" />
            <div class="img-athlete">{{key}}</div>
        </div>
    </div>
    <!-- <hr/> -->
    {{/medalsByDiscipline}}
</div>
<div class="block" data-title="Performance">
    <h1>Overperforming vs Underperforming</h1>
    <div class="countries-performance">
        <div>
            {{#topOverPerforming}}
            <div class="performance-header">
                <span class="flag flag-ioc-{{abbreviation}} flag-2x"></span>
                <span>{{key}}</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam
            </p>
            {{/topOverPerforming}}
        </div>
        <div>
            {{#topUnderPerforming}}
            <div class="performance-header">
                <span class="flag flag-ioc-{{abbreviation}} flag-2x"></span>
                <span>{{key}}</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam
                irure
            </p>
            {{/topUnderPerforming}}
        </div>
    </div>
</div>
<!-- <div class="performance inner">
    <h2>Country performance</h2> {{#performance}}
    <b class="{{key}}">{{key}}</b> {{displayDiff}}
    <div class="bar bar--{{class}} {{key}}" style="width: {{percentage}}%; margin-left: {{margin}}%;"></div>
    {{/performance}}
</div> -->