.ol-title {
	background-color: #ffe500;
	@include fs-header(5);
	font-size: 48px;
	line-height: 60px;
	margin: 0;
	font-weight: 900;
	display: inline;
	padding-bottom: 4px;
	box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 0px 10px 6px 10px;
}	

.ol-standfirst {
	@include fs-headline(3);
	font-weight: 300;
	color: #767676;
	max-width: 620px;
	margin-top: 24px;
	margin-bottom: 60px;
	max-width: 360px;
}

.ol-wrapper {
	max-width: 460px;
	padding-top: 95px;

	@include mq(wide) {
		margin-left: 250px;
	}
}

.ol-circle {
	background-color: #00b2ff;
	height: 460px;
	width: 460px;
	border-radius: 460px;
	display: block;
	position: absolute;
	right: 0;
	top: -60px;
	z-index: 0;
}

.ol-logo {
	position: absolute;
	top: 0;
	
}

header {
	z-index: 10;
}