.ol-title, .ol-subtitle {
	@include fs-headline(9);
	font-size: 50px;
	margin: 0;
	font-weight: 700;
	line-height: 54px;
	display: inline;
	// padding-bottom: 4px;
	box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 0px 10px 0px 10px;
}

.ol-subtitle {
	line-height: 54px;
}

.subtitle-wrapper {
	background-color: #ffe500;
}

.ol-title {
	background: #1896D7;
	color: #ffffff;
	line-height: 40px;
}

.ol-standfirst {
	@include fs-headline(3);
	font-weight: 300;
	color: #767676;
	max-width: 620px;
	margin-top: 24px;
	margin-bottom: 60px;
	max-width: 360px;

	// &::before {
    // 	content: '';
    //     display: block;
	// 	position: absolute;
	// 	height: 2px;
	// 	border-top: 1px solid #ccf0ff;
	// 	border-bottom: 1px solid #ccf0ff;
    //     margin-bottom: 3px;
	// 	width: 220px;
	// 	left: 9px;
    //     // @include mq(leftCol) {
    //     //     left: 160px;
    //     // }

    //     // @include mq(wide) {
    //     //     left: 240px;
    //     // }
	// }
}

.ol-wrapper {
	max-width: 500px;
	padding-top: 95px;

	@include mq(wide) {
		margin-left: 240px;
	}
}

.ol-circle {
	background-color: #00b2ff;
	height: 441px;
	width: 441px;
	border-radius: 50%;
	display: block;
	position: absolute;
	right: 5%;
	top: -36px;
	z-index: 0;

	img {
		height: 425px;
		position: absolute;
		top: 12%;
		right: -3%;
	}
}

.ol-logo {
	position: absolute;
}

header {
	z-index: 10;
}