@import "mq";
@import "fonts";
@import "header";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.page-wrapper {
    max-width: 1300px;
    background-color: #fff;
    margin: auto;
    position: relative;

    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 0;
        position: absolute;
        top: 0;
        border-right: 1px solid #ccf0ff;

        @include mq(leftCol) {
            left: 160px;
        }

        @include mq(wide) {
            left: 240px;
        }
    }
}

.block {
    border-top: 1px solid #ccf0ff; 

    &::before {
        content: attr(data-title);
        display: block;
        position: absolute;
        left: 0px;
        top: 0;
        @include fs-header(3);
        color: #000;
        background-color: #ffe500;
        padding: 3px 5px 3px
    }

    @include mq(leftCol) {
        padding-left: 170px;
    }

    @include mq(wide) {
        padding-left: 250px;
    }
}